<div class="panel-scroll">
    <div ng-show="ctrl.panel.showGraph" class="canvas-spot" style="width:100%;"></div>


    <div ng-show="ctrl.panel.showLegend">
        <div ng-repeat="metric in ctrl.data">
            <span ng-show="ctrl.panel.showLegendNames">{{ metric.name }}: </span>
            <div ng-show="ctrl.panel.showLegendValues"
                 ng-repeat="info in metric.legendInfo | orderBy:ctrl.panel.legendSortBy | limitTo:ctrl.panel.legendMaxValues"
                 style="cursor: default; display:inline-block; margin-right:15px;"
                 ng-mousemove="ctrl.showLegandTooltip($event, info);"
                 ng-mouseleave="ctrl.clearTT()">
                <div ng-style="{ 'background-color': ctrl.getColor(info) }"
                     style="width:10px; height:10px; display:inline-block;">

                </div>
                {{ ctrl.getLegendDisplay( info, metric ) }}
            </div>
            <div ng-show="ctrl.panel.showTransitionCount" style="display:inline-block;">
                &nbsp; Transitions: {{metric.transitionCount}}
            </div>
            <div ng-show="ctrl.panel.showDistinctCount" style="display:inline-block;">
                &nbsp; Distinct: {{metric.distinctValuesCount}}
            </div>
        </div>
    </div>


    <div ng-show="ctrl.panel.showTable">
        <div class="table-panel-container-emt">
            <!--<div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>-->
            <div class="table-panel-header-bg-emt" ng-show="ctrl.dataTable.length"></div>
            <!--<div class="table-panel-scroll-emt" >-->
            <table class="table-panel-table-emt">
                <thead>
                <tr>
                    <!--<th ng-repeat="col in ctrl.table.columns" ng-hide="col.hidden">-->
                    <th ng-repeat="col in ctrl.panel.columns" ng-hide="!ctrl.dataTable.length">
                        <!--<div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">-->
                        <div class="table-panel-table-header-inner-emt pointer" ng-click="ctrl.tableToggleColumnSort(col, $index)">
                            {{col.name}}
                            <span class="table-panel-table-header-controls" ng-if="col.flags.sort">
                                    <i class="fa fa-caret-down" ng-show="col.flags.desc"></i>
                                    <i class="fa fa-caret-up" ng-hide="col.flags.desc"></i>
                            </span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="table-body-inner-emt">
                </tbody>
            </table>
            <!--</div>-->
        </div>
        <div class="table-panel-footer-emt">
            <!--<ul uib-pagination
                boundary-links="true"
                total-items="ctrl.dataTable.totalItems"
                ng-model="ctrl.dataTable.currentItems"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </ul>
            <h4>Default</h4>-->
        </div>
    </div>
</div>

