<div class="editor-row">

    <div class="section gf-form-group">
        <h5 class="section-heading">Display</h5>
        <div class="gf-form">
            <gf-form-switch class="gf-form"
                            label="Show graph"
                            label-class="gf-form-label width-14"
                            checked="ctrl.panel.showGraph"
                            on-change="ctrl.onConfigChanged()"></gf-form-switch>
        </div>

        <div class="gf-form">
            <gf-form-switch class="gf-form"
                            label="Show table"
                            label-class="gf-form-label width-14"
                            checked="ctrl.panel.showTable"
                            on-change="ctrl.onConfigChanged()"></gf-form-switch>
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-14">Row Height</label>
            <input type="number" ng-model="ctrl.panel.rowHeight" class="gf-form-input max-width-5"
                   ng-blur="ctrl.render()" min="1"/>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-14">Text Size</label>
            <input type="number" ng-model="ctrl.panel.textSize" class="gf-form-input max-width-5"
                   ng-blur="ctrl.render()" min="1"/>
        </div>
    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Hover tooltip</h5>
        <div class="gf-form">
            <gf-form-switch class="gf-form"
                            label="Highlight on Hover"
                            label-class="gf-form-label width-14"
                            checked="ctrl.panel.highlightOnMouseover"
                            on-change="ctrl.onConfigChanged()"></gf-form-switch>
        </div>
    </div>


</div>
